apiVersion: v1
kind: Service
metadata:
  name: web-app-dev
spec:
  selector:
    app: web-app
  ports:
  - protocol: TCP
    port: 5000  # External port
    targetPort: 5000  # Port inside the container  bhvh
  type: ClusterIP
